#container{
    width: 78%;
    height: 80vh;
    margin-left: auto;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 25px;
  }
  #container>div{
      border-radius: 4px;
      height: 400px;
      width: 23%;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  div>img{
      
      width: 100%;
      height: 70%;
  }
  span{
   font-family: Quicksand, sans-serif;
   size: 14px;
   font-weight: 500;
   color: #1a201e;
   margin-left: 15px;
  }
  h5{
   font-family: Quicksand, sans-serif;
   font-size: 19px;
   font-weight: 500;
   color: #1a201e;
   margin-top: 4px;
   margin-left: 15px;

  }