.content > div {
    /* border: solid blue 1px; */
    width: 90%;
    height: 500px;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .adv {
    display: flex;
    height: 350px;
  }
  .advr > div > img {
    height: 139px;
    width: 100%;
    margin-top: 10px;
  }

  .advl {
    margin: 8px;
    padding-right: 20px;
    height: 90%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slides {
    width: 500%;
    height: 100%;
    display: flex;
  }
  .slides input {
    display: none;
  }
  .slide {
    width: 20%;
    transition: 2s;
  }
  .slide img {
    width: 100%;
    height: 100%;
  }
  .navigation-manual {
    position: initial;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  .manual-btn {
    margin: 5px;
    border: 2px solid teal;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(last-child) {
    margin-right: 40px;
  }
  .manual-btn:hover {
    background: teal;
  }
  #radio1:checked ~ .first {
    margin-left: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -20%;
  }
  #radio3:checked ~ .first {
    margin-left: -40%;
  }
  #radio4:checked ~ .first {
    margin-left: -60%;
  }
  #radio5:checked ~ .first {
    margin-left: -80%;
  }

  #items {
    display: flex;
    height: 400px;
    margin-top: 50px;
  }
  #items > div {
    margin: auto;
    margin-right: 20px;
    padding: auto;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 1s;
  }
  #items > div:hover {
    transform: scale(1.1);
  }
  #items > div > img {
    width: 100%;
    height: 70%;
  }
  #specification {
    display: grid;
    grid-template-columns: repeat(4, 360px);
    height: 800px;
    grid-gap: 20px;
  }
  #specification > div {
    border-radius: 4px;
  }
  #specification > div > img {
    width: 360px;
    height: 385px;
  }
  #about {
    background-color: #165241;
    display: flex;
  }
  #about > div {
    height: 400px;
    width: 22%;
    margin-left: 3%;
    border: transparent;
  }
  #content {
    width: 100%;
    height: 100px;
    border: transparent;
    margin-top: 10px;
  }
  #sear ~ div {
margin-top: 25px;
}
.nav {
height: 100px;
display: flex;
margin: auto;
box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
/* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
}
.left {
display: flex;
width: 100%;
height: 100%;
font-size: 20px;
/* border: 1px solid red; */
justify-content: space-around;
}
img {
height: 100%;
/* border: 1px solid red; */
}
#image {
padding: 15px;
}
#image:hover {
cursor: pointer;
}
#sear {
width: 50%;
margin: 5px;
}
input[type="search"] {
width: 100%;
padding: 15px 15px;
margin-top: 10px;
border: 1px solid grey;
background-color: transparent;
border-radius: 25px;
}
#cate {
font-size: 20px;
}
#cate > div {
padding: 15px 25px;
border-bottom: 1px solid grey;
}
#sear ~ div:hover {
cursor: pointer;
color: red;
}
#heading{
box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
display: flex;
align-items: baseline;
}
#heading>h1{
font-family: Quicksand, sans-serif;
font-size: 30px;
color: rgba(0, 0, 0, 0.85);
font-weight: 100;
}
#heading>h1+h4{
color: #ff864b;
font-family:Quicksand, sans-serif;
font-size: 16px;
font-weight: lighter;
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
.nav {
width: 100%;
}
}
@media only screen and (min-width: 376px) and (max-width: 768px) {
.nav {
width: 100%;
}
}